
.outer {
    margin: auto;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: yellow; 
    position: relative;
}

.timer {
    width: 80px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 0%;
    margin-top: -12px;
    background: yellow; 
}
