#form {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin: 3rem;
    justify-content: space-around;
} 

#name {
    background-color: white;
    height: 10px;
    margin-bottom: 10px;
}

#password {
    height: 10px;
    margin-bottom: 10px;
}

.MuiBox-root {
    position: fixed;
    top:20%;
    left: 30%;
    /* z-index: 5; */
    display: none;
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
    border-radius: 10%;
    box-shadow: 0 10px 25px 0 black;
    background-color:white;
    justify-content: space-around;
}

#icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#errorMessage {
    position: absolute;
    top: 300px;
}