/* 

.unSpotLetter {
  color: darkgrey;
  font-size: 300%;
}

.typingContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 30%;
  position: absolute;
  left: 10%;
  bottom: 5%;
  overflow: scroll;
}

p {
 
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.spotLetter {
  color: black;
}

.hp-var {
  background-color: rgb(230, 233, 244) !important;
  width: 50%;
  height: 8px !important;
  text-align: center ;
} */